{% extends 'base.html' %}

{% block content %}

<h1 class="mb-4">
    Liste des articles
</h1>

{% for article in articles %}

<div class="card shadow-sm mb-4">

    <div class="card-body">

        <span class="badge bg-success mb-2">
            {{ article.categorie }}
        </span>

        <h2 class="card-title">
            {{ article.titre }}
        </h2>

        <p class="card-text">
            {{ article.contenu|truncatewords:30|linebreaks }}
        </p>

        <a href="{% url 'detail_article' article.id %}"
           class="btn btn-primary">
            Voir plus
        </a>

    </div>

</div>

{% endfor %}

{% endblock %}